$backgraund: #fffcfc;
$backgraund-staff: #f8f8f8;
$white-500: rgba(251, 251, 251, 0.5);
$white-100: #fefefe;
$white-200: #fbfbfb;
$gray-100: #f5f5f5;
$gray-200: #ecebf1;
$gray-300: #e1e1e1;
$gray-400: #707070;
$black-20: rgba(29, 28, 32, 0.2);
$black-100: #535353;
$black-200: #1d1c20;
$brown: #967b7b;
$color-for-map: #d3d2d8;
$additional-yellow-100: #ffde99;
$additional-yellow-200: #ffd57e;
$additional-orange-100: #ffb56a;
$additional-orange-200: #ea7600;
$additional-red-100: #ff7663;
$additional-red-200: #e7331b;
$additional-crimson: #ef7ee0;
$additional-purple-100: #e4cfff;
$additional-purple-400: rgba(228, 207, 255, 0.4);
$additional-purple-200: #c49cf9;
$additional-purple-300: #9aa3fb;
$additional-purple--400: #7486eb;
$additional-dark-blue: #162184;
$additional-light-blue--100: #d1e3fe;
$additional-light-blue-200: #68a5ff;
$additional-turquoise: #9ededb;
$additional-green: #30837d;
$additional-light-green-100: #ccf095;
$additional-light-green-200: #bee581;
$accent-pink-700: rgba(252, 225, 225, 0.7);
$accent-pink-100: #fbf6f6;
$accent-pink-200: #fef8f8;
$accent-pink-300: #fdf0f0;
$accent-pink-400: #fce1e1;
$accent-pink-500: #facdcd;
$accent-pink-600: #ffb8b8;
$accent-pink-800: #d5bdbd;
$accent-pink-700: rgba(213, 189, 189, 0.7);
$social-whatsapp: #46c756;
$social-facebook: #1877f2;
$notifications-01: #ebe5fc;
$notifications-02: #d1e7dd;
$notifications-03: #f8d7da;
$notifications-04: #fff3cd;
$notifications-05: #cff4fc;
$notifications-06: #e9ecef;
