@import './common/vars';
@import './common/mixins';

.title {
  @include media(mobile) {
    background-color: $accent-pink-800;
    color: red;
  }

  @include media(tablet) {
    color: rgb(21, 255, 0);
  }
  @include media(desktop) {
    color: rgb(4, 0, 252);
  }
}
